@import "compass";
@import "variablesGlobales";
body{margin:0;padding:0;font-size:12px;}
.tblog{margin-top:30%}
.txtL{font-family:'Exo 2', sans-serif;font-size:1.2em;font-weight:400;color:#000;}
.txt{font-family:'Exo 2', sans-serif;font-size:1.2em;font-weight:400;color:#fff;}
input, select, textarea{
padding-top:5px;
padding-bottom:5px;
padding-right:5px;
border: #C6E1E1 solid 1px;
@include border-radius(3px)
}
.erreur{ margin-bottom:10px;color:#ff0000;@include notif($erreur); }
.txt3{
font-family: $fontfamily;
font-size:1.0em; 
font-weight:400; 
color: #ff0000;
z-index:10;
}
.txtON{
padding:1px;
font-family: $fontfamily;
font-size:1.4em; 
font-weight:800; 
color: #fff;
background-color:#000;
z-index:10;
}
.txtN{
padding-left:5px;
font-family: $fontfamily;
font-size:1.4em; 
font-weight:800; 
color: #fff;
background-color:#000;
z-index:10;
}
/*tablette*/
@media ($Largmini : $largeur-phone + 1 ){.txtB{
text-align:center;
font-family: $fontfamily;
font-size:1.2em; 
font-weight:400; 
color: #000;
padding:10px 20px 10px 10px;

}}
/*pc*/
@media ($Largmini : $largeur-tablette + 1 ){.txtB{
text-align:center;
font-family: $fontfamily;
font-size:1.2em; 
font-weight:400; 
color: #000;
padding:10px 20px 10px 10px;

}}
/*telephone*/
@media ($Largemax : $largeur-phone){.txtB{
text-align:center;
font-family: $fontfamily;
font-size:1em; 
font-weight:400; 
color: #000;
padding:10px 40px 10px 10px;

}}

.txt2{font-family: $fontfamily;
font-size:1.2em; 
font-weight:400; 
color: #000;
padding:0px 10px 0px 10px;}
.imgO{margin:5px 0 0 5px;width:75px;height:75px;@include border-radius(5px 10px 5px 10px);}
.bordertab{border-collapse: collapse;
    border: 0px solid black;width:100%}
.droit{width:80px}
.gauche{width:90%;text-align:left;}